{% extends 'base2.html' %}	
{% load bootstrap4 %}
{% block body %}
<div id="page-wrapper" class="sign-in-wrapper">
	<div class="graphs">
		<div class="sign-in-form">
			<div class="sign-in-form-top">
				<h1>Password Reset Email</h1>
			</div>
			<div class="signin">
				<form action="" method="post" class="form">
					{% csrf_token %}
					{% bootstrap_form form %}
					{% buttons %}
						<input type="submit" class="btn btn-primary" value="Reset Email">
					{% endbuttons %}
				</form>
			</div>
			<div class="new_people">
				<h2>For New People</h2>
				<p>Having hands on experience in creating innovative designs,I do offer design 
					solutions which harness.</p>
				<a href="register.html">Register Now!</a>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
			
		